<div class="qn-list col-md-8 col-md-offset-2">
  <div class="new-qn">
  <%= link_to new_question_path, class: 'btn btn-default btn-block' do %>
    <i class="glyphicon glyphicon-plus"></i> New Question
  <% end %>
  </div>

    <% @questions.each do |question| %>
    <div class="qn-item">
      <div class="qn-title"><%= link_to question.title, question_path(question) %></div>
      <div class="qn-body"><%= question.text %></div>
      <div class="qn-links">
        <div class= "btn-group">
        <%= link_to question_path(question), title: 'reply', class: 'btn btn-default btn-sm' do %>
          <i class="glyphicon glyphicon-share-alt"></i>
        <% end %>
        <%= link_to edit_question_path(question), title: 'edit', class: 'btn btn-default btn-sm'  do %>
          <i class="glyphicon glyphicon-edit"></i>
        <% end %>
        <%= link_to question_path(question), title: 'delete', method: :delete, data: { confirm: 'Are you sure?' },
        class: 'btn btn-default btn-sm' do %>
          <i class="glyphicon glyphicon-remove"></i>
        <% end %>
        </div>
      </div>
    </div>
    <% end %>
</div>
