<h1>Log in</h1>

<%= form_for(:session, url: login_path) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :remember_me do %>
    <%= f.check_box :remember_me %>
    <span>Remember me on this computer</span>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<p><%= link_to "sign up", new_user_path %></p>
