<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
<br />
<%= link_to "New Slide", new_slide_path, class: "btn btn-primary" %>
<br />
<br />
<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Download Link</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @slides.each do |slide| %>
      <tr>
        <td><%= slide.name %></td>
        <td><%= link_to "Download Slide", slide.attachment_url %></td>
        <td><%= button_to "Delete",  slide, method: :delete, class: "btn btn-danger", confirm: "Are you sure that you wish to delete #{slide.name}?" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
