<div class='form-users'>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2 class="form-users-heading"><%= yield(:form_heading) %></h2>

  <div class="form-group">
    <i class="glyphicon glyphicon-user" aria-hidden="true"></i> Username
    <%= f.text_field :name, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <i class="glyphicon glyphicon-lock" aria-hidden="true"></i> Password
    <%= f.password_field :password, :class => 'form-control' %>
  </div>

  <div class="form-action">
    <%= f.submit yield(:button_text), class: "btn btn-success" %>
  </div>

  <div class="back-link"><%= link_to "Back", root_path %></div>
<% end %>
</div>
