<div class="ans-text"><%= answer.body %></div>
<div class="ans-author">Answered by: <%= answer.original_author.name %></div>


<%= form_for ([@question, @question.answers.build]) do |f| %>
  <div class="form-group">
    <%= f.text_field :body %>
  </div>


  <%= f.hidden_field :parent_answer_id, :value => answer.id %>
  <%= f.submit "Reply", class: "btn btn-default"  %>

  <% if answer.original_author == current_user %>
  <%= link_to 'Delete', [answer.question, answer],
                method: :delete,
                data: { confirm: 'Are you sure?' },
                class: "btn btn-danger btn-sm"  %>
  <% end %>
<% end %>



<div class="replies"><%= render answer.replies %></div>
